@font-face {
    font-family: "BigNoodleTitling";
    src: url("fonts/BigNoodleTitling/big_noodle_titling.eot") format("eot"), url("fonts/BigNoodleTitling/big_noodle_titling.woff") format("woff"), url("fonts/BigNoodleTitling/big_noodle_titling.ttf") format("truetype"), url("fonts/BigNoodleTitling/big_noodle_titling.svg#BigNoodleTitling") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Bold";
    src: url("fonts/Roboto_Bold/DroidSans-Bold.eot") format("eot"), url("fonts/Roboto_Bold/DroidSans-Bold.woff") format("woff"), url("fonts/Roboto_Bold/DroidSans-Bold.ttf") format("truetype"), url("fonts/Roboto_Bold/DroidSans-Bold.svg#Roboto-Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Th";
    src: url("fonts/Roboto_Th/Roboto-Thin.ttf");
}

@font-face {
    font-family: "Roboto Light";
    src: url("fonts/roboto\ _light.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MyriadProRegular";
    src: url("fonts/MyriadProRegular/MyriadProRegular.eot") format("eot"), url("fonts/MyriadProRegular/MyriadProRegular.ttf") format("ttf"), url("fonts/MyriadProRegular/MyriadProRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Arial Unicode MS";
    src: url("fonts/ARIALUNI.TTF") format("ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Roboto Bold", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}


/* Базовые стили */
* {
    box-sizing: border-box;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

/*----------------------- ШАПКА---------------------- */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 154px;
    margin: 0 83px;
    font-family: "BigNoodleTitling", sans-serif;
}

.navigation__slogan {
    display: flex;
    align-items: center;
}

.navigation__slogan-title {
    padding-left: 20px;
    margin: 27px 0;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 100px;
}

/* бургер-меню */
.navigation__wrapper-menu {
    position: relative;
    width: 80px;
    height: 40px;
    text-align: center;
    color: #080404;
    background-color: #fff;
}

#check-menu {
    display: none;
}

.navigation__wrapper-menu label {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    cursor: pointer;
}

.burger-line {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 2px;
    background-color: #000000;
    transition: .5s all;
}

.secondlineBurger,
.thirdlineBurger {
    top: 18px;
}

.fourthlineBurger {
    top: 28px;
}

.main-menu {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    width: 200px;
    max-height: 0;
    overflow: hidden;
    transform: translateY(100%);
    font-size: 0;
    transition: .5s all;
}

.main-menu__item {
    display: block;
    height: 100%;
    padding: 10px;
    color: white;
    text-decoration: none;
    letter-spacing: .1em;
    border-top: 1px solid grey;
    background-color: black;
}

.main-menu__item:hover {
    background-color: #000;
}

#check-menu:checked~.main-menu {
    max-height: 500px;
    font-size: 16px;
}

#check-menu:checked~.firstlineBurger {
    display: none;
}

#check-menu:checked~.secondlineBurger {
    transform: rotate(45deg);
}

#check-menu:checked~.thirdlineBurger {
    transform: rotate(-45deg);
}

#check-menu:checked~.fourthlineBurger {
    display: none;
}

/*----------------- Секция слайдер------------------------------ */
/* ------------------------------------------------------------- */
.slider {
    padding-bottom: 45px;
    font-family: "BigNoodleTitling", sans-serif;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    background-color: #333333;
}

/* Slideshow container */
.slideshow-container,
.navigation-slider__slideshow-container {
    position: relative;
    background: #333333;
}

/* Slides */
.mySlides,
.navigation-slider__mySlides {
    display: none;
    padding: 150px;
    text-align: center;
}

.slider__title {
    font-size: 72px;
    margin: 0;
}

.prev,
.next {
    top: 24%;
    padding: 0;
}

/* Next & previous buttons */
.prev,
.next {
    position: absolute;
    top: 25%;
    width: auto;
    margin-top: -30px;
    padding: 60px;
    color: #000000;
    font-weight: bold;
    font-size: 70px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    cursor: pointer;
}

/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    color: white;
    background-color: rgba(51, 51, 51, 0.8);
}

.slider__subtitle {
    margin: 0;
}

/* scroll */
.scroll {
    text-align: center;
}

.scroll__text {
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
}

/* -------------------ABOUT US SECTION------------------------ */
/* ------------------------------------------------------------ */
.about-us,
.our-works,
.who-we-are,
.get-in-touch {
    text-align: center;
}

.g--title {
    margin: 90px 0;
    font-family: "BigNoodleTitling", sans-serif;
    text-transform: uppercase;
}

.g--title__head {
    display: inline-block;
    margin: 0;
    font-size: 48px;
    border-bottom: 1px solid #ff0000;
}

.g--title__paragraph {
    max-width: 650px;
    margin: 25px auto 0;
    font-family: "Roboto Th", sans-serif;
    font-size: 14px;
}

.works {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-bottom: 140px;
}

.works-block__title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 17.89px;
    text-transform: uppercase;
}

.works-block__text {
    font-family: "Roboto Th", sans-serif;
    font-size: 14px;
}

/* -------------------MEDIA SECTION----------------- */
/* ------------------------------------------------- */
.media {
    display: flex;
    flex-wrap: wrap;
}

.play-info {
    width: 650px;
    margin: 0 auto;
    padding: 120px 90px 100px 90px;
    text-align: center;
}

.play-info__title {
    font-family: "MyriadProRegular", sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
}

.play-info__text {
    font-size: 14px;
    color: #4e4e4e;
    margin-top: 20px;
    margin-bottom: 40px;
}

/* Universal style for button */
.g--button {
    padding: 15px 25px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    background-color: #ff0000;
    border: none;
    outline: none;
    cursor: pointer;
}

.video {
    width: 650px;
    margin: 0 auto;
}

/* ------------- Our Works SECTION --------------- */
/* ------------------------------------------------- */
.our-works__navigation {
    margin-bottom: 25px;
}

.navigation-item {
    margin: 0 15px;
    font-family: "Roboto Light", sans-serif;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation-item:hover {
    border-bottom: 1px solid #f15324;
}

/*------------------- Red-section-------------------- */
/* -------------------------------------------------- */
.red-section {
    padding: 50px 0;
}

.red-section-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.red-section__work {
    width: 280px;
    height: 180px;
    margin: 20px;
    background: url(img/no-image.png) center center no-repeat;
}

/* -----------------NAVIGATION SLIDER ---------------- */
/* ---------------------------------------------------- */
.navigation-slider {
    position: relative;
    padding-top: 100px;
    padding-bottom: 70px;
    font-family: "Arial Unicode MS";
    color: #fff;
    font-size: 33px;
    background-color: #000000;
}

.navigation-slider__mySlides {
    padding: 0;
    background-color: #000000;
}


.slide {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 750px;
}

.slide div {
    margin: 0;
}

.icon-for-slider {
    width: 45px;
    height: 50px;
}

.slide__title div {
    margin: 0 5px;
}

.slide__title {
    display: flex;
}

/* Next/prev buttons */
.prev-for-slider2,
.next-for-slider2 {
    margin-top: 0px;
    color: #695d5d;
    font-size: 40px;
    font-weight: normal;
}

.prev-for-slider2 {
    position: absolute;
    top: 0;
    padding: 0;
    padding-left: 200px;
}

.next-for-slider2 {
    position: absolute;
    top: 0;
    padding: 0;
    padding-right: 200px;
}

.prev-for-slider2:hover,
.next-for-slider2:hover {
    background-color: #000000;
}

/* ---------------WHO WE ARE SECTION------------------- */
/* ----------------------------------------------------- */

/* column with foto and name */
.who-we-are__introduction {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 175px;
}

.person {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin-bottom: 20px;
    align-items: center;
    text-transform: uppercase;
}

.person__foto {
    width: 135px;
    height: 135px;
    background-color: #ff1e00;
    border-radius: 50%;
}

.person__fio {
    margin-top: 30px;
    font-size: 20px;
}

.person__profession {
    margin-bottom: 20px;
    font-family: "Roboto Light", sans-serifS;
}

/* social icons */
.person__social-icons {
    font-size: 15px;
    text-decoration: none;
}

.person__social-icons .fa,
.footer__social-icons .fa {
    margin-right: 10px;
    color: #191919;
}

.person__social-icons a:last-child .fa,
.footer__social-icons a:last-child .fa {
    margin-right: 0;
}

.person__social-icons a .fa:hover,
.footer__social-icons a .fa:hover {
    color: #ff1e00;
}

/* column with skills diagramm */
.my-skills {
    width: 560px;
}


.my-skills__title {
    font-size: 24px;
    text-transform: uppercase;
}

/* Diagramms */
.my-skills__diagramms {
    display: flex;
    margin-top: 40px;
    width: 100%;
}

/* name of programme*/
.diagramms-item {
    flex-shrink: 0;
}

.diagramms-item .name-of-item {
    margin-bottom: 15px;
    padding-right: 10px;
    text-transform: uppercase;
}

/* lines */
.diagramms-lines {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-shrink: 3;
    margin-right: 35px;
    width: 350px;
}

.diagramms-lines .line {
    width: 75%;
    margin-bottom: 15px;
    border-bottom: 1px solid #ff1e00;
}

.diagramms-lines .line:nth-child(2) {
    width: 90%;
}

.diagramms-lines .line:nth-child(3) {
    width: 80%;
}

.diagramms-lines .line:last-child {
    width: 100%;
}

/* percents */
.diagramms-percents {
    flex-shrink: 1;
}

.diagramms-percents .percents {
    margin-bottom: 15px;
}

/* -----------SOME FEATURES SECTION------------------------ */
/* ---------------------------------------------------------- */
.some-features,
.chose-plan,
.footer {
    padding-top: 50px;
    padding-bottom: 60px;
    text-align: center;
    color: #fff;
    background-color: #000;
}

.g--subtitle,
.footer__location {
    padding-bottom: 55px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
}

.some-features__directions {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.directions-order__icon .some-features-icon,
.footer__location .some-features-icon,
.footer__slogan .some-features-icon {
    font-size: 60px;
    color: #ff0000;
}

.directions-order {
    font-family: "Roboto Light", sans-serif;
}

.directions-order .directions-order__title {
    margin: 25px 0;
}

.directions-order__number {
    font-size: 48px;
}

/* -----------------BLOG POST SECTION------------------- */
.blog-post {
    padding-bottom: 135px;
}

.blog-post .g--title {
    text-align: center;
}

/* sections with blogs */
.blog-post__blogs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.blog__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 220px;
    background-color: #4e4e4e;
}

/* links inside blocks-pictures */
.blog__img-social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    margin-right: 15px;
    visibility: hidden;
    background-color: #fff;
    border-radius: 50%;
}

.blog__img-social:nth-child(2) {
    margin-right: 0;
}

.blog__img-social:hover {
    background-color: #fd3a06;
}

.blog__img-social:hover .danger {
    color: #fff;
}

.blog__img-social .danger {
    font-size: 24px;
    color: #ff0000;
}

.blog__img:hover .blog__img-social {
    visibility: visible;
}

/* text and likes */
.blog__title,
.blog__text,
.blog__feedbacks {
    padding-left: 25px;
    padding-right: 35px;
}

.blog__title {
    margin-top: 35px;
    margin-bottom: 25px;
    font-family: "Roboto light", sans-serif;
    font-size: 18px;
    text-transform: capitalize;
}

.blog__text {
    margin-bottom: 25px;
    font-family: "Roboto Th", sans-serif;
    font-size: 14px;
}

.blog__feedbacks {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 10px;
}

.feedbacks-data i,
.feedbacks-likes i {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 14px;
}

/* -------------CHOSE PLAN SECTION--------------- */
/* ------------------------------------------------ */

/* blocks */
.chose-plan__order {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.order-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 235px;
    height: 450px;
    padding: 40px 50px;
}

.order-block:hover {
    border: 1px solid #fd2901;
}

.order-block:hover .number {
    color: #fd2901;
}

.order-block .media__play-btn {
    background-color: #ff2c00;
    border-radius: 5px;
}

/* blocks content style*/
.order-block__section-level {
    font-size: 14px;
    text-transform: uppercase;
}

.order-block__section-prise {
    font-family: "Roboto Light", sans-serif;
    font-size: 24px;
}

.order-block__content-item {
    margin-bottom: 15px;
}

.order-block__content-item:last-child {
    margin-bottom: 0;
}

/* ----------GET IN TOUCH SECTION------------- */

/* form */
/* form direction */
.get-in-touch .get-in-touch__form {
    margin: 85px auto;
    text-align: center;
}

.get-in-touch__form {
    max-width: 770px;
}

.get-in-touch__form input,
.form__message #usermessage {
    margin-bottom: 40px;
    margin-top: 20px;
    width: 100%;
}

.form__name-and-mail {
    display: flex;
}

.form__name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 30px;
    width: 50%;
}

.form__mail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.form__message {
    text-align: left;
}

.form__message #usermessage {
    resize: none;
}

.get-in-touch__form-btn {
    padding: 15px 40px;
    background-color: #ff2b00;
}

/* form style */
.get-in-touch__form .required:after {
    color: #fd2901;
    content: " *";
}

.get-in-touch__form input[type=text],
.form__message #usermessage {
    border: none;
    border-bottom: 1px solid #d6d6d6;
    outline: none;
}

.form-label {
    text-transform: uppercase;
    font-size: 14px;
}

/* -----------------FOOTER-------------------- */

/* style bc+title look at SOME FEATURES SECTION
          icon at WHO WE ARE SECTION */


.footer__location {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    font-size: 24px;
}

.footer__slogan {
    margin-top: 50px;
}

.footer__slogan-title {
    font-family: "BigNoodleTitling", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}

.footer__developer {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.footer__social-icons .fa {
    color: #fff;
}

/* ---------------MEDIA------------------- */
/* --------------------------------------- */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {

    .play-info__title,
    .g--subtitle {
        font-size: 24px;
    }

    /* шапка */
    .navigation {
        margin: 0;
    }

    /* SLIDER SECTION */
    .mySlides {
        padding: 100px 0 50px 0;
    }

    .slider__title {
        font-size: 32px;
        margin: 0 15px;
    }

    .slider__subtitle {
        font-size: 28px;
    }

    .prev,
    .next {
        top: 65%;
        padding: 0;
        font-size: 24px;
    }

    /* NAVIGATION SLIDER */
    .navigation-slider .prev,
    .navigation-slider .next {
        top: 0;
    }

    /* ABOUT US SECTION */
    .g--title__head {
        font-size: 32px;
    }

    .g--title__paragraph {
        width: 100%;
    }

    /* MEDIA SECTION */
    .play-info {
        width: 100%;
        padding: 40px 0px;
    }

    .video {
        width: 100%;
    }

    /* OUR WORKS SECTION */
    .our-works__navigation {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    /* RED SECTION */
    .red-section {
        padding: 40px 0;
    }

    .red-section-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .red-section__work {
        margin: 0;
        margin-bottom: 20px;
    }

    /* NAVIGATION SLIDER */
    .navigation-slider .prev,
    .navigation-slider .next {
        top: 0px;
    }

    .prev-for-slider2 {
        padding-left: 15px;
    }

    .next-for-slider2 {
        padding-right: 15px;
    }

    /* WHO WE ARE SECTION */
    .who-we-are__introduction {
        margin-bottom: 30px;
    }

    .my-skills {
        width: 100%;
    }

    /* SOME FEATURES SECTION */
    .some-features {
        padding-bottom: 0;
    }

    .some-features__directions {
        flex-direction: column;
    }

    .directions-order {
        padding-bottom: 60px;
    }

    .directions-order__number {
        font-size: 24px;
    }

    /* BLOG POST SECTION */
    .blog-post {
        padding-bottom: 0;
    }

    /*  CHOOSE PLAN SECTION*/
    .chose-plan {
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .chose-plan .g--subtitle {
        padding-bottom: 10px;
    }

    .order-block {
        height: 390px;
    }

    /* FOOTER */
    .get-in-touch .get-in-touch__form {
        margin: 40px auto;
    }

    .footer__map {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 576px) and (max-width: 1300px) {

    /* NAVIGATION SLIDER */
    .navigation-slider .prev,
    .navigation-slider .next {
        top: -14px;
    }
}

@media (min-width: 490px) and (max-width: 660px) {
    .navigation-item {
        margin: 0 40px;
    }
}

@media (min-width: 576px) and (max-width: 736px) {

    .footer__map {
        width: 500px;
        height: 500px;
    }
}

@media (min-width: 736px) and (max-width: 850px) {
    .order-block {
        margin: 0 20px;
    }
}

@media (min-width: 850px) and (max-width: 970px) {
    .order-block {
        margin: 0 40px;
    }
}

/* Medium devices (tablets) */
@media (max-width: 768px) {

    /* Header */
    .navigation {
        height: 90px;
    }

    .slider__title {
        font-size: 48px;
    }

    /* About US */
    .works {
        flex-direction: column;
        align-items: center;
    }

    .works-block {
        margin-bottom: 30px;
    }

    .section-title {
        margin: 30px 0;
    }

    .works {
        padding-bottom: 30px;
    }

    /* Navigation Slider */
    .slide {
        flex-direction: column;
        align-items: center;
    }

    .slide__title:nth-child(2) {
        margin-left: -15px;
    }

    .slide__title:last-child {
        margin-left: -26px;
    }

    .slide__title:nth-child(2) .icon-for-slider {
        width: 55px;
        height: 55px;
    }

    /* WHO WE ARW SECTION */
    .who-we-are__introduction {
        margin-bottom: 40px;
    }

    /* FORM */
    .form__name-and-mail {
        flex-wrap: wrap;
    }

    .form__name {
        width: 100%;
        margin-right: 0;
    }

    .form__mail {
        width: 100%;
    }
}

@media (max-width: 1100px) {
    .blog-post__blogs {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1300px) {
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    /* GAME AND VIDEO SECTION */
    .play-info {
        padding: 90px 0px 10px 0px;
    }

    /* NAVIGATION  SLIDER*/
    .navigation-slider {
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 24px;
    }

    .slide {
        width: 85%;
        margin: 0 auto;
    }

    .prev-for-slider2 {
        padding-left: 15px;
    }

    .next-for-slider2 {
        padding-right: 15px;
    }

    /* BLOG POST */
    .blog__title {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .blog__text {
        margin-bottom: 15px;
    }

    .blog__feedbacks {
        margin-bottom: 40px;
    }

}

@media (min-width: 900px) and (max-width: 1300px) {
    .red-section__work {
        margin: 20px 75px;
    }
}